.reservation {
  background-image: url('../images/background_reservation.svg');
  padding: 100px 80px 120px;
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 60px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}